{% load core_extras %}
{% load i18n %}

{% if not comp_name %}{% alias 'language-search' as comp_name %}{% endif %}
{% if not search_language %}{% alias 'en' as search_language %}{% endif %}
{% if not search_url %}{% alias '/search/' as search_url %}{% endif %}
{% if not autocomplete_url %}{% alias '/autocomplete/zz/' as autocomplete_url %}{% endif %}
{% if not comp_extra %}{% alias '' as comp_extra %}{% endif %}

<{{ comp_name }} 
init-language="{{ search_language }}"
init-search-url="{{ search_url }}" 
init-autocomplete-url="{{ autocomplete_url }}" 
{{ comp_extra }} 
inline-template
>

<div class="searchbox">
{% if search_label %}
  <label class="label" for="search-input">{{ search_label }}</label>
{% endif %}

<div class="field has-addons">

<div class="control is-expanded">

<div 
class="dropdown"
v-bind:class="[{ 'is-active': isOpen }]"
>

<div class="dropdown-trigger">

<input
  id="search-input"
  name="search-input"
  class="input"
  placeholder="{% trans 'placeholder_search' %}"
  type="text" 
  v-model.trim="searchTerm"
  @input="onAutocomplete"
  @keyup.enter="search"
  @focus="onFocus"
/>

</div>

<div class="dropdown-menu">
<div class="dropdown-content">

<a
  v-for="(result, i) in results"
  :key="i"
  class="dropdown-item"
  href="" 
  @click.prevent="setResult(result.value)"
>
[[ result.value ]]
</a>

</div>
</div>

</div>

</div>

<div class="control">
<dropdown
id="search-language"
dropdown-classes="is-right"
@toggle="isOpen = false"
>

<template slot="dropdown-label">
<span class="text-bold" style="width: 20px;">[[ language ]]</span>
</template>

<template slot="dropdown-content">

{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}

  <a
  href="#" 
  id="search-language-{{ language.code }}"
  class="dropdown-item"
  @click.prevent="setLanguage('{{ language.code }}')"
  >
  {{ language.name_translated }}
  </a>

{% endfor %}

</template>

</dropdown>
</div>

<div class="control">
<a 
id="{{ search_btn_id }}" 
class="button" 
href="#"
@click.prevent="search"
>
<i class="fas fa-search fa-fw"></i>
</a>
</div>

</div>
</div>

</{{ comp_name }}>