
<div class="ipa-symbols">

<symbol-key init-symbol="&#712;"></symbol-key>
<symbol-key init-symbol="&#716;"></symbol-key>
<symbol-key init-symbol="&#618;"></symbol-key>
<symbol-key init-symbol="&aelig;"></symbol-key>
<symbol-key init-symbol="&#593;"></symbol-key>
<symbol-key init-symbol="&#596;"></symbol-key>
<symbol-key init-symbol="&#650;"></symbol-key>
<symbol-key init-symbol="&#652;"></symbol-key>
<symbol-key init-symbol="&#603;"></symbol-key>
<symbol-key init-symbol="&#604;"></symbol-key>

<symbol-key init-symbol="&#601;"></symbol-key>
<symbol-key init-symbol="e&#618;"></symbol-key>
<symbol-key init-symbol="a&#618;"></symbol-key>
<symbol-key init-symbol="&#596;&#618;"></symbol-key>
<symbol-key init-symbol="&#650;"></symbol-key>
<symbol-key init-symbol="&#618;&#601;"></symbol-key>
<symbol-key init-symbol="e&#601;"></symbol-key>
<symbol-key init-symbol="&#650;&#601;"></symbol-key>
<symbol-key init-symbol="&#952;"></symbol-key>
<symbol-key init-symbol="&#240;"></symbol-key>

<symbol-key init-symbol="&#643;"></symbol-key>
<symbol-key init-symbol="&#658;"></symbol-key>
<symbol-key init-symbol="t&#643;"></symbol-key>
<symbol-key init-symbol="d&#658;"></symbol-key>
<symbol-key init-symbol="&#331;"></symbol-key>

</div>