{% load i18n %}

<a class="navbar-item" href="{% url 'app:home' %}">

<span class="user-menu-icon">
<i class="fas fa-home fa-fw"></i>
</span>

{% trans "label_home" %}

</a>

<hr class="navbar-divider">

<a id="nav-menu-profile" class="navbar-item" href="{% url 'users:profile_update' user.username %}">

<span class="user-menu-icon">
<i class="fas fa-user-circle fa-fw"></i>
</span>

{% trans "label_profile" %}

</a>

<hr class="navbar-divider">

<a class="navbar-item logout-link" href="{% url 'security:logout' %}">

<span class="user-menu-icon">
<i class="fas fa-sign-out-alt fa-fw"></i>
</span>

{% trans "label_logout" %}

</a>