{% extends "users/user_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
{% load profile_image_tags %}

{% block title %}
{% trans "page_edit_profile_title" %}
{% endblock title %}

{% block profile_edit_link_active %} active {% endblock profile_edit_link_active %}

{% block content %}

{% if gravatar_img %}

  {% profile_image user 100 "circle" %}

  <div>
  <a href="{{ gravatar_change_url }}" id="gravatar-image-link" target="_blank">
  {% trans "label_gravatar_change" %}
  </a>
  </div>

{% endif %}

<form id="profile-update-form" method="post" action="{% url 'users:profile_update' user_profile.username %}" novalidate>

{% csrf_token %}

<div>
{{ form.non_field_errors }}
</div>

<div class="field">

<label class="label" for="id_user-first_name">
{{ form.user.first_name.label }}
</label>

<div class="control">
{% trans "placeholder_first_name" as placeholder_first_name %}
{% render_field form.user.first_name class+="input" placeholder+=placeholder_first_name %}
</div>

<div id="{{ form.user.first_name.auto_id }}-errors" class="errors">
{{ form.user.first_name.errors }}
</div>

</div>

<div class="field">

<label class="label" for="id_user-last_name">
{{ form.user.last_name.label }}
</label>

<div class="control">
{% trans "placeholder_last_name" as placeholder_last_name %}
{% render_field form.user.last_name class+="input" placeholder+=placeholder_last_name %}
</div>

<div id="{{ form.user.last_name.auto_id }}-errors" class="errors">
{{ form.user.last_name.errors }}
</div>

</div>

<div class="field">

<label class="label" for="id_user-email">
{{ form.user.email.label }}
</label>

<div class="control">
{% trans "placeholder_email" as placeholder_email %}
{% render_field form.user.email class+="input" placeholder+=placeholder_email %}
</div>

<div id="{{ form.user.email.auto_id }}-errors" class="errors">
{{ form.user.email.errors }}
</div>

</div>

<div class="field">

<label class="label" for="id_profile-about">
{{ form.profile.about.label }}
</label>

<div class="control">
{% trans "placeholder_profile_about" as placeholder_about %}
{% render_field form.profile.about class+="textarea" placeholder+=placeholder_about rows=3 %}
</div>

{{ form.profile.about.errors }}

</div>

</form>

<button 
id="profile-update-submit-btn" 
class="button is-primary" 
type="submit" 
form="profile-update-form"
style="margin-top: 20px;"
>
{% trans "label_update" %}
</button>

{% endblock content %}
