{% extends "users/user_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<div class="row justify-content-md-center">
<div class="col-md-10">

<form id="user-password-reset-form" method="post" novalidate>
{% csrf_token %}

<div class="row">
<div class="col-sm-12">
{{ form.non_field_errors }}
</div>
</div>

<div class="row">
<div class="col-sm-12">
{% trans "placeholder_password1" as placeholder_password1 %}
{% render_field form.password1 class+="form-control" placeholder+=placeholder_password1 %}
{{ form.password1.errors }}
</div>
</div>

<div class="row">
<div class="col-sm-12">
{% trans "placeholder_password2" as placeholder_password2 %}
{% render_field form.password2 class+="form-control" placeholder+=placeholder_password2 %}
{{ form.password2.errors }}
</div>
</div>

<div class="row">
<div class="col-sm-12">
<button id="register-user-submit" class="ui button primary" type="submit">
{% trans "label_change_password" %}
</button>
</div>
</div>

</form>

</div>
</div>

{% endblock content %}
