{% extends "base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block sidebar_nav_items %}

{% if request.session.session_obj.vocab_source %}

  <div class="menu">

  <p class="menu-label">
  {% trans "label_source" %}
  </p>

  <p class="menu-header">
  <a 
  id="sidebar-nav-vocab-source-name" 
  href="{% url 'vocab:vocab_source_dashboard' vocab_source.id vocab_source.slug %}"
  >
  <span id="menu-vocab-source-name"> {{ vocab_source.name }} </span>
  </a>
  </p>

  <ul class="menu-list">

  <li>
  <a 
  id="sidebar-nav-vocab-source-entries"
  class="{% block vocab_source_entries_link_active %}{% endblock vocab_source_entries_link_active %}"
  href="{% url 'vocab:vocab_source_entries' vocab_source.id vocab_source.slug %}"
  >
  <i class="menu-icon fas fa-language fa-fw"></i> {% trans "label_vocabulary" %}
  </a>
  </li>

  <li>
  <a 
  id="sidebar-nav-vocab-source-contexts"
  class="{% block vocab_source_contexts_link_active %}{% endblock vocab_source_contexts_link_active %}"
  href="{% url 'vocab:vocab_source_contexts' vocab_source.id vocab_source.slug %}"
  >
  <i class="menu-icon fas fa-book fa-fw"></i> {% trans "label_contexts" %}
  </a>
  </li>

  {% if source_admin %}

    <li>
    <a
    id="sidebar-nav-vocab-source-edit"
    class="{% block vocab_source_edit_link_active %}{% endblock vocab_source_edit_link_active %}"
    href="{% url 'vocab:vocab_source_update' vocab_source.id vocab_source.slug %}">
    <i class="menu-icon fas fa-edit fa-fw"></i> {% trans "label_edit_source" %}
    </a>
    </li>

    <li>
    <a 
    id="sidebar-nav-vocab-context-create" 
    class="{% block vocab_context_create_link_active %}{% endblock vocab_context_create_link_active %}" 
    href="{% url 'vocab:vocab_context_create' vocab_source.id vocab_source.slug %}"
    >
    <i class="menu-icon fas fa-plus fa-fw"></i> {% trans "label_new_vocab_context" %}
    </a>
    </li>

    <li class="divider"></li>

  {% endif %}

  <li class="sidebar-divider"></li>

  </ul>
  </div><!-- menu -->

{% endif %}

{{ block.super }}

{% endblock sidebar_nav_items %}

{% block body_classes %}

sidebar-adaptable theme-cloudy {{ sidebar_expanded|yesno:"sidebar-expanded," }}

{% endblock body_classes %}

{% block content_container %}

<section 
class="section {% block main_section_classes %}main-content{% endblock main_section_classes %}"
>

<div class="columns">
<div class="column is-10 is-offset-1">

{% block content_top %}
<div class="page-content-top" style="margin-top: 10px;">

{% block page_header %}

{% if request.session.session_obj.vocab_source %}

  <div class="small-caps-header">
  {% trans "source" %}
  </div>

  <div class="page-header">
  {{ vocab_source.name }}
  </div>

{% endif %}

{% endblock page_header %}

</div>
{% endblock content_top %}

<div class="page-content" style="margin-top: 30px;">
{% block content %}{% endblock content %}
</div>

</div>
</div>

</section>

{% endblock content_container %}

{% block page_footer %}{% endblock page_footer %}

{% block python_to_javascript %}

var initSidebarSessionEnabled = true;
var sidebarExpanded = {{ sidebar_expanded|yesno:"true,false" }};
var appSessionUrl = "{% url 'app:app_session' %}";

{% endblock python_to_javascript %}

