{% extends "vocab/vocab_base.html" %}
{% load core_extras %}
{% load i18n %}

{% block title %}
{{ vocab_source.name }} - {% trans "page_vocab_source_entries_title" %}
{% endblock title %}

{% block vocab_source_entries_link_active %}is-active{% endblock vocab_source_entries_link_active %}

{% block breadcrumb_content %}

{{ block.super }}
&nbsp;>&nbsp;
{% trans "label_vocabulary" %}

{% endblock breadcrumb_content %}

{% block content %}

{% block vocab_entry_search %}

{% url "vocab:vocab_source_entry_language_autocomplete" vocab_source.id "zz" as autocomplete_url %}
{% url "vocab:vocab_source_entries" vocab_source.id vocab_source.slug  as search_url %}

{% alias vocab_source.id|stringformat:"s" as source_id %}
{% alias "init-source-id="|add:source_id as comp_extra %}
{% alias "vocab-source-entry-search" as comp_name %}
{% trans "label_search_vocab_in_source" as search_label %}

<div class="box" style="margin-bottom: 40px;">
{% include "includes/vue/_language_search.html" %}
</div>

{% endblock vocab_entry_search %}

<span id="vocab-entries-scroll-top"></span>

{% url "api:vocab-source-entry-list" vocab_source.id as vocab_entries_url %}
{% url "vocab:vocab_source_entry" vocab_source.id vocab_source.slug "xx" "zzz" as vocab_entry_url %}
{% url "api:vocab-entry-detail" 0 as vocab_entry_delete_url %}

{% include "vocab/includes/vue/_vocab_entries.html" %}

{% endblock content %}

{% block modal_content %}

{{ block.super }}

{% include "vocab/includes/_vocab_entry_delete_modal.html" with modal_id="delete-vocab-entry"  modal_name="confirmation-modal" %} 

{% endblock modal_content %}