{% extends "vocab/vocab_base.html" %}
{% load core_extras %}
{% load i18n %}

{% block title %}

{% blocktrans with v=vocab_entry.entry %}page_vocab_entry_title {{v}}{% endblocktrans %}

{% endblock title %}

{% block content %}

<div class="columns">
<div class="column is-12">

{% block vocab_entry_search %}

<div class="box">

{% url "vocab:vocab_entry_language_autocomplete" "zz" as autocomplete_url %}
{% url "vocab:vocab_entries" as search_url %}
{% trans "label_search_vocabulary" as search_label %}

{% include "includes/vue/_language_search.html" with comp_name="vocab-entry-search" %}

</div>

{% endblock vocab_entry_search %}

</div>
</div>

<span id="vocab-contexts-scroll-top"></span>

<div class="columns">
<div class="column is-12">

<div id="vocab-entry-header" class="entry-header">
{{ vocab_entry.entry }}
</div>

{% url "api:vocab_entry_info" vocab_entry.id as vocab_entry_info_url %}
{% include "vocab/includes/vue/_vocab_entry_info.html" %}

</div>
</div>

<div class="columns">
<div class="column is-12">

{% block vocab_contexts %}

{% url_set_param "api:vocab-context-entry-list" vocab_entry=vocab_entry.id as vocab_contexts_url %}
{% url "vocab:vocab_context_delete" 0 as vocab_context_delete_url %}
{% url "vocab:vocab_source_dashboard" 0 "zzz" as vocab_source_url %}
{% include "vocab/includes/vue/_vocab_entry_contexts.html" %}

{% endblock vocab_contexts %}

</div>
</div>

{% endblock content %}

{% block modal_content %}

{{ block.super }}

{% include "vocab/includes/_vocab_context_delete_modal.html" with modal_id="delete-context" modal_name="confirmation-modal" %} 

{% endblock modal_content %}

