{% extends "vocab/vocab_entry.html" %}
{% load core_extras %}
{% load i18n %}

{% block title %}

{{ vocab_source.name }} - {{ vocab_entry.entry }}

{% endblock title %}

{% block vocab_entry_search %}

{% url "vocab:vocab_source_entry_language_autocomplete" vocab_source.id "zz" as autocomplete_url %}
{% url "vocab:vocab_source_entries" vocab_source.id vocab_source.slug  as search_url %}
{% alias vocab_source.id|stringformat:"s" as source_id %}
{% alias "source-id="|add:source_id as comp_extra %}
{% trans "label_search_vocab_in_source" as search_label %}

{% alias "vocab-source-entry-search" as comp_name %}

<div class="box">
{% include "includes/vue/_language_search.html" %}
</div>

{% endblock vocab_entry_search %}

{% block vocab_contexts %}

{% url "vocab:vocab_context_tag" 0 as vocab_context_edit_url %}
{% url "api:vocab-context-detail" 0 as vocab_context_delete_url %}
{% url_set_param "api:vocab-context-entry-list" vocab_entry=vocab_entry.id vocab_source=vocab_source.id as vocab_contexts_url %}
{% url "vocab:vocab_source_dashboard" 0 "zzz" as vocab_source_url %}

{% include "vocab/includes/vue/_vocab_entry_contexts.html" %}

{% endblock vocab_contexts %}



