{% extends "vocab/vocab_source_contexts.html" %}
{% load static %}
{% load core_extras %}
{% load i18n %}

{% block title %}
{{ vocab_source.name }} - {% trans "page_vocab_source_contexts_audios_title" %}
{% endblock title %}

{% block vocab_source_contexts_link_active %}{% endblock vocab_source_contexts_link_active %}

{% block vocab_source_contexts_audios_link_active %}is-active{% endblock vocab_source_contexts_audios_link_active %}

{% block context_breadcrumbs %}
<li>
<a href="{% url 'vocab:vocab_source_contexts' vocab_source.slug %}">
{% trans "label_contexts" %}
</a>
</li>

<li class="is-active">
<a href="#">
{% trans "label_contexts_audios" %}
</a>
</li>

{% endblock context_breadcrumbs %}

{% block content %}

{% block vocab_contexts %}

{% url_set_param 'api:nested-vocab-context-list' vocab_source.id audios='True' as vocab_contexts_url %}
{% url "api:vocab-context-detail" 0 as vocab_context_delete_url %}
{% url "vocab:vocab_source_dashboard" vocab_source.slug as vocab_source_url %}
{% url "vocab:vocab_source_entry" vocab_source.slug 'xx' 'zzz' as tag_select_url %}
{% url "vocab:vocab_context_tag" 0 as vocab_context_edit_url %}

{% include "vocab/includes/vue/_vocab_context_tags.html" %}

{% endblock vocab_contexts %}

{% endblock content %}
