{% extends "base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block body_classes %}

sidebar-adaptable theme-white {{ sidebar_expanded|yesno:"sidebar-nav-expanded," }}

{% endblock body_classes %}

{% block body %}
<div id="main-content" class="main-content container" style="margin-top: 20px;">

{% block page_header %}

{% if request.session.session_obj.vocab_source %}

  <div class="row justify-content-md-center">
  <div class="col-md-10">
  <div class="page-subheader"> {{ vocab_source.name }} </div>
  </div>
  </div>

{% endif %}

{% endblock page_header %}

{% block breadcrumbs %}

<div class="row justify-content-md-center">
<div class="col-md-10">

<div class="breadcrumbs" style="margin-top: 20px; margin-bottom: 20px;">
{% block breadcrumb_content %}

{% include "vocab/includes/_vocab_breadcrumbs.html" %}

{% endblock breadcrumb_content %}
</div>

</div>
</div>

{% endblock breadcrumbs %}
{% block content %}{% endblock content %}
</div>
{% endblock body %}

{% block page_footer %}{% endblock page_footer %}

{% block python_to_javascript %}

var initSidebarSessionEnabled = true;
var sidebarExpanded = {{ sidebar_expanded|yesno:"true,false" }};
var appSessionUrl = "{% url 'app:app_session' %}";
var sidebarTopPanelExpanded = {{ sidebar_top_panel_expanded|yesno:"true,false" }};

{% endblock python_to_javascript %}

