{% extends "vocab/vocab_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}
{{ vocab_source.name }} - {% trans "page_vocab_source_contexts_title" %}
{% endblock title %}

{% block vocab_source_contexts_link_active %}is-active{% endblock vocab_source_contexts_link_active %}

{% block breadcrumb_content %}

{{ block.super }}

<li class="is-active">
<a href="#">
{% trans "label_contexts" %}
</a>
</li>

{% endblock breadcrumb_content %}

{% block content %}

{% block vocab_contexts %}

{% url "api:nested-vocab-context-list" vocab_source.id as vocab_contexts_url %}
{% url "api:vocab-context-detail" 0 as vocab_context_delete_url %}
{% url "vocab:vocab_source_dashboard" 0 'zzz' as vocab_source_url %}
{% url "vocab:vocab_source_entry" vocab_source.id vocab_source.slug 'xx' 'zzz' as tag_select_url %}

{% include "vocab/includes/vue/_vocab_context_tags.html" %}

{% endblock vocab_contexts %}

{% endblock content %}

{% block modal_content %}

{{ block.super }}

{% include "vocab/includes/_vocab_context_delete_modal.html" with modal_id="delete-context" modal_name='confirmation-modal' %} 

{% endblock modal_content %}





