{% extends "vocab/auth/vocab_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}{% trans "page_vocab_user_dashboard_title" %}{% endblock title %}

{% block dashboard_link_active %}active{% endblock dashboard_link_active %}

{% block page_header %}

<div class="row justify-content-md-center">
<div class="col-md-10">
<div class="page-header">
{% trans "header_dashboard" %}
</div>
</div>
</div>

{% endblock page_header %}

{% block content %}

<div class="row justify-content-md-center">
<div class="col-md-10">

{% for project in vocab_projects %}
<div class="panel">
<div class="panel-header">
{{ project.name }}
</div>
<div class="panel-body">
{{ project.description }}
</div>
</div>
{% endfor %}

</div>
</div>

{% endblock content %}
