{% extends "vocab/vocab_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load core_extras %}


{% block modal_content %}

{% include "vocab/includes/_vocab_entry_create_modal.html" with modal_id='create-entry-modal' %}
{% include "vocab/includes/_vocab_project_create_modal.html" with modal_id='create-project-modal' %}

{% endblock modal_content %}

{% block page_footer %}{% endblock page_footer %}

{% block python_to_javascript %}

var initSidebarSessionEnabled = true;
var sidebarExpanded = {{ sidebar_expanded|yesno:"true,false" }};
var appSessionUrl = "{% url 'app:app_session' %}";
var vocabEntryCreateUrl = "{% url 'vocab:vocab_entry_create' %}";
var vocabEntryDeleteUrl = "{% url 'vocab:vocab_entry_delete' 0 %}";

{% endblock python_to_javascript %}

