{% extends "vocab/vocab_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}{% trans "page_vocab_context_edit_title" %}{% endblock title %}

{% block page_header %}

<div class="page-header">
{% trans "label_edit_tag_vocab_context" %}
</div>

{% endblock page_header %}

{% block breadcrumb_content %}

{{ block.super }}

<li>
<a href="{% url 'vocab:vocab_source_contexts' vocab_source.id vocab_source.slug%}">
{% trans "label_contexts" %}
</a>
</li>

<li class="is-active">
<a href="#">
{% trans "label_edit" %}
</a>
</li>

{% endblock breadcrumb_content %}

{% block content %}

{% url 'api:vocab-context-detail' vocab_context.id as vocab_context_edit_url %}

<vocab-context-editor
:init-vocab-entries="{{ vocab_entry_tags|safe }}"
inline-template
>

<div>

</div>

</vocab-context-editor>


<div class="columns">

<div class="column is-6">

<markdown-editor
init-markdown="{{ vocab_context.content }}"
save-url="{{ vocab_context_edit_url }}"
>
</markdown-editor>
</div>

<div class="column is-6">

<div class="columns is-multiline">

<div class="column is-12">
<vocab-entry-tagbox
inline-template
>
<div class="tagbox" style="margin-top: 30px;">

<label class="label">Tagged vocabulary</label>

{% url "vocab:vocab_entry_language_autocomplete" "zz" as autocomplete_url %}
{% include "includes/vue/_language_search.html" with comp_name="vocab-entry-tag-search" comp_extra='@search="addTag"' %}

<div class="box">

<div class="tags are-medium">

<tag
v-for="(tag, index) in tags"
:key="index"
:init-value="tag.entry"
:init-has-remove="true"
@tag-remove="removeTag(index)"
>
</tag>

</div>

</div>

</div>
</tagbox>
</div>

<div class="column is-12">
<tagbox
inline-template
>
<div class="tagbox" style="margin-top: 30px;">

<label class="label">Instances of <span class="blue">vocab</span></label>
<input 
class="input"
v-model="tagInput"
@keyup.enter="addTag($event.target.value)"
>

<div class="box">

<div class="tags are-medium">

<tag
v-for="(tag, index) in tags"
:key="tag.id"
:init-value="tag.value"
:init-has-remove="true"
@tag-remove="removeTag(index)"
>
</tag>

</div>

</div>

</div>
</tagbox>
</div>

</div>

</div>

</div>

{% endblock content %}
