{% extends "vocab/vocab_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "page_delete_confirm_title" %}{% endblock title %}

{% block top_navbar %}{% endblock top_navbar %}

{% block body_classes %}theme-white{% endblock body_classes %}

{% block page_header %}{% endblock page_header %}

{% block sidebar_nav %}{% endblock sidebar_nav %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block footer %}{% endblock footer %}

{% block content %}

<div class="row justify-content-md-center">
<div class="col-md-10">

<h2>
{% trans "confirm_delete_vocab_source" %}
</h2>

<form action="" method="post">
{% csrf_token %}

<button id="confirm-yes" class="ui basic button" type="submit">
{% trans "confirm_yes" %}
</button>

<a 
id="confirm-no" 
class="ui basic button" 
role="button"
href="{% url 'vocab:vocab_user_dashboard' %}">
{% trans "confirm_no" %}
</a>

</form>
</div>
</div>

{% endblock content %}