{% extends "vocab/vocab_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}{% trans "page_vocab_context_edit_title" %}{% endblock title %}

{% block page_header %}

<div class="page-header">
{% trans "label_edit_context" %}
</div>

{% endblock page_header %}

{% block breadcrumb_content %}

{{ block.super }}

<li>
<a href="{% url 'vocab:vocab_source_contexts' vocab_source.id vocab_source.slug%}">
{% trans "label_contexts" %}
</a>
</li>

<li class="is-active">
<a href="#">
{% trans "label_edit" %}
</a>
</li>

{% endblock breadcrumb_content %}

{% block content %}

{% url "api:vocab-context-detail" vocab_context.id as vocab_context_edit_url %}

{% url "api:vocab-entry-detail-data" as vocab_entry_detail_url%}
{% url "api:vocab-context-add-vocab-entry" vocab_context.id as add_vocab_entry_url %}
{% url "api:vocab-context-remove-vocab-entry" vocab_context.id as remove_vocab_entry_url %}

{% url "api:vocab-context-add-vocab-entry-tag" vocab_context.id as add_vocab_entry_instance_url %}
{% url "api:vocab-context-remove-vocab-entry-tag" vocab_context.id as remove_vocab_entry_instance_url %}

<vocab-context-editor
:init-vocab-entries='{{ vocab_entry_tags|safe }}'
vocab-entry-detail-url="{{ vocab_entry_detail_url }}"
add-vocab-entry-url="{{ add_vocab_entry_url }}"
remove-vocab-entry-url="{{ remove_vocab_entry_url }}"
add-vocab-entry-instance-url="{{ add_vocab_entry_instance_url }}"
remove-vocab-entry-instance-url="{{ remove_vocab_entry_instance_url }}"
context-element="#markdown-html-view"
inline-template
>

<div class="columns">

<div class="column is-7">

<markdown-editor
init-markdown="{{ vocab_context.content }}"
save-url="{{ vocab_context_edit_url }}"
:editor-rows="12"
:default-mode-edit="false"
view-box-classes="vocab-context-box"
>
</markdown-editor>

</div><!-- col 6 -->

<div class="column is-5">

<div class="columns is-multiline">

<div class="column is-12">

<vocab-entry-tagbox
:tags="vocabEntries"
@select-tag="selectVocabEntry"
@add-tag="addVocabEntry"
@remove-tag="removeVocabEntry"
@focus-tag-input="deselectVocabEntry"
inline-template
>
<div class="tagbox" style="margin-top: 30px;">

<label class="label">{% trans "label_tagged_vocab" %}</label>

{% url "vocab:vocab_entry_language_autocomplete" "zz" as autocomplete_url %}
{% include "includes/vue/_language_search.html" with comp_name="vocab-entry-tag-search" comp_extra='@search="addTag" @search-focus="focusTagInput"' %}

<div class="box">

<div class="tags are-medium">

<tag
v-for="(tag, index) in tags"
:key="tag.id"
:init-value="tag.value"
:init-has-remove="true"
@select-tag="selectTag(index)"
@remove-tag="removeTag(index)"
>
</tag>

</div>

</div>

</div><!-- tagbox -->
</vocab-entry-tagbox>

</div><!-- col 12 -->

<div class="column is-12">

<div v-if="selectedVocabEntry != null" v-cloak>

<label class="label">{% trans "label_instances_of" %} <span class="has-text-info">[[ selectedVocabEntry.value ]]</span></label>

<vocab-entry-instance-tagbox
:tags="selectedVocabEntry.tags"
:repeated-tags="false"
@add-tag="addVocabEntryInstance"
@remove-tag="removeVocabEntryInstance"
inline-template
>
<div class="tagbox">

<input 
class="input"
v-model="tagInput"
@keyup.enter="addTag($event.target.value)"
>

<div class="box">

<div class="tags are-medium">

<tag
v-for="(tag, index) in tags"
:key="tag"
:init-id="index"
:init-value="tag"
:init-has-remove="true"
@select-tag="selectTag(index)"
@remove-tag="removeTag(index)"
>
</tag>

</div>

</div>

</div>
</vocab-entry-instance-tagbox>

</div>

</div><!-- col 12 -->

</div><!-- columns -->

</div><!-- col 6 -->

</div><!-- columns -->

</vocab-context-editor>

{% endblock content %}
