{% extends "vocab/auth/vocab_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block vocab_entry_dashboard_link_active %}active{% endblock vocab_entry_dashboard_link_active %}

{% block title %}

{% trans "page_vocab_entry_dashboard_title" %}: {{ vocab_entry.entry }}

{% endblock title %}

{% block page_header %}

  <div class="row justify-content-md-center">
  <div class="col-md-10">
  <div class="page-header">
  {% trans "header_vocabulary" %}: {{ vocab_entry.language }}
  </div>
  </div>
  </div>

{% endblock page_header %}

{% block content %}

<div class="row justify-content-md-center">
<div class="col-md-10">

<div class="entry-header">
{{ vocab_entry.entry }}
</div>

<div class="vocab-pronunciation">
{% if vocab_entry.pronunciation_spelling %}

  [{{ vocab_entry.pronunciation_spelling|to_html:True|safe }}] &nbsp;

{% endif %}

{% if vocab_entry.pronunciation_ipa %}

  [{{ vocab_entry.pronunciation_ipa|safe }}]

{% endif %}
</div>

<div style="margin-top: 30px;">
{{ vocab_entry.description|to_html|safe }}
</div>

</div>
</div>

{% endblock content %}
