{% extends "vocab/vocab_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "page_vocab_source_edit_title" %}{% endblock title %}

{% block vocab_source_edit_link_active %}is-active{% endblock vocab_source_edit_link_active %}

{% block breadcrumb_content %}

{{ block.super }}

<li class="is-active">
<a href="#">
{% trans "label_edit" %}
</a>
</li>

{% endblock breadcrumb_content %}

{% block content %}

<form 
id="edit-form" 
action="{% url 'vocab:vocab_source_update' vocab_source.id vocab_source.slug %}" 
method="post" 
novalidate
>

{% csrf_token %}

{% include "vocab/includes/forms/_vocab_source_form.html" %}

<button id="submit-btn" class="button is-info" type="submit" form="edit-form">
{% trans "label_update" %}
</button>

<ajax-delete
delete-confirm-id="delete-source"
delete-url="{% url 'vocab:vocab_source_delete' vocab_source.id %}" 
delete-redirect-url="{% url 'vocab:vocab_sources' %}"
inline-template
>

<button 
id="vocab-source-delete-trigger" 
class="button is-danger"
@click.prevent="confirmDelete"
>
{% trans "label_delete" %}
</button>

</ajax-delete>

</form>

{% endblock content %}

{% block modal_content %}

{% include "vocab/includes/_vocab_source_delete_modal.html" with modal_id="delete-source" modal_name="confirmation-modal" %} 

{% endblock modal_content %}

