{% extends "vocab/auth/vocab_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}
{% trans "page_contexts_tagged_with_entry_title" %} "{{ vocab_entry.entry }}"
{% endblock title %}

{% block vocab_entry_contexts_link_active %}active{% endblock vocab_entry_contexts_link_active %}

{% block page_header %}

<div class="row justify-content-md-center">
<div class="col-md-10">
<div class="page-header">
{% trans "header_contexts_tagged_with_entry" %} <span style="color: #1779ba;">"{{ vocab_entry }}"</span>
</div>
</div>
</div>

{% endblock page_header %}

{% block breadcrumb_content %}

{{ block.super }}
&nbsp;>&nbsp;
{% trans "label_contexts" %}

{% endblock breadcrumb_content %}

{% block content %}

<div class="row justify-content-md-center">
<div class="col-md-10">

<div class="entry-header">
{{ vocab_entry.entry }}
</div>

<div class="vocab-pronunciation">

{% if vocab_entry.pronunciation_spelling %}

[{{ vocab_entry.pronunciation_spelling|to_html:True|safe }}] &nbsp;

{% endif %}

{% if vocab_entry.pronunciation_ipa %}

[{{ vocab_entry.pronunciation_ipa|safe }}]

{% endif %}

</div>

{% url 'api:nested-vocab-definition-list' vocab_entry.id as vocab_definitions_url %}
{% include "vocab/includes/_vocab_definitions.html" with definitions_url=vocab_definitions_url %}

{% include "vocab/includes/_vocab_entry_contexts.html" %}
{% include "includes/_pagination.html" %}
</div>
</div>

{% endblock content %}

{% block modal_content %}

{% include "vocab/includes/_vocab_entry_detail_modal.html" %}
{% include "vocab/includes/_vocab_entry_create_modal.html" %}

{% endblock modal_content %}
