{% extends "vocab/auth/vocab_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}{{ vocab_source.name }} - {% trans "page_vocab_source_entries_title" %}{% endblock title %}

{% block vocab_source_entries_link_active %}active{% endblock vocab_source_entries_link_active %}

{% block breadcrumb_content %}

{{ block.super }}
&nbsp;>&nbsp;
{% trans "label_entries" %}

{% endblock breadcrumb_content %}

{% block content %}

<div class="row justify-content-md-center">
<div class="col-md-10">

<div class="panel">
<div class="panel-body">

<div class="panel-header">

{% trans "label_search_vocab_in_source" %}

</div>

{% url 'vocab:vocab_source_entry_language_autocomplete' vocab_source.id 'zz' as autocomplete_url %}
{% url 'vocab:vocab_source_entries' vocab_source.id vocab_source.slug  as search_url %}

{% include "includes/vue/_language_search.html" with comp_name='entry-search' search_btn=True %}

</div>
</div>

</div>
</div>

{% if vocab_entries %}

{% for language, entries in vocab_entries.items|dictsort:"0.lower" %}

<div class="row justify-content-md-center">
<div class="col-md-10">

<div class="panel">
<div class="panel-body">

<div id="language-{{ language }}" class="panel-header">
{% get_language_info for language as lang_info %}
{{ lang_info.name_local|capfirst }} ({{ language }})
</div>

<div id="vocab-entry-tag-group-{{ language }}" class="vocab-entry-tag-group ui labels">
{% for entry in entries %}

<div id="vocab-entry-{{ entry.id }}" class="ui label vocab-tag tagblock">

<a 
class="tag-text"
href="{% url 'vocab:vocab_source_entry_contexts' vocab_source.id vocab_source.slug language entry.slug %}">
{{ entry.entry }}
</a>

</div>

{% endfor %}

</div>

</div><!-- panel-body -->
</div><!-- panel -->

</div>
</div>

{% endfor %} 

{% else %}

<div class="row justify-content-md-center">
<div class="col-md-10">
{% trans "text_no_vocab_entries" %}
</div>
</div>

{% endif %}

{% endblock content %}
