{% extends "vocab/auth/vocab_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}{{ vocab_source.name }} - {% trans "page_vocab_source_entry_contexts_title" %} "{{ vocab_entry.entry|capfirst }}"{% endblock title %}

{% block breadcrumb_content %}

{{ block.super }}
&nbsp;>&nbsp;
<a href="{% url 'vocab:vocab_source_entries' vocab_source.id vocab_source.slug %}">{% trans "label_entries" %}</a>
&nbsp;>&nbsp;
{{ vocab_entry.entry|capfirst }}

{% endblock breadcrumb_content %}

{% block content %}

<div class="row justify-content-md-center">
<div class="col-md-10">

<div class="page-header">
<a 
id="vocab-entry-header" 
href="#"
@click.prevent="showEntryDetailModal = true"
>
{{ vocab_entry.entry|capfirst }}
</a>
</div>

<div class="vocab-pronunciation" style="margin-bottom: 20px;">

{% if vocab_entry.pronunciation_spelling %}

[{{ vocab_entry.pronunciation_spelling|to_html:True|safe }}] &nbsp;

{% endif %}

{% if vocab_entry.pronunciation_ipa %}

[{{ vocab_entry.pronunciation_ipa|safe }}]

{% endif %}

</div>

<div>
<a 
href="{% url 'vocab:vocab_entry_contexts' vocab_entry.language vocab_entry.slug %}">
{% trans "label_view_entry_tagged_in_all_sources" %}
</a>
</div>

{% include "vocab/includes/_vocab_entry_contexts.html" %}
{% include "includes/_pagination.html" %}

</div>
</div>

{% endblock content %}

{% block modal_content %}

{{ block.super }}

{% include "vocab/includes/_vocab_entry_detail_modal.html" with modal_trigger='showEntryDetailModal' %}

{% endblock modal_content %}
