{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load core_extras %}

{% block body_classes %}

sidebar-adaptable theme-white {{ sidebar_expanded|yesno:"sidebar-nav-expanded," }}

{% endblock body_classes %}

{% block content_top %}
<div class="container" style="margin-bottom: 50px;">

{% block page_subheader %}

{% if request.session.vocab_project or request.session.vocab_source %}

<div class="row justify-content-md-center">
<div class="col-md-10">
<div class="page-subheader"> {{ vocab_project.name }} </div>
</div>
</div>

{% elif request.session.vocab_entry %}

<div class="row justify-content-md-center">
<div class="col-md-10">
<div class="page-subheader"> {% trans "label_dictionary" %} </div>
</div>
</div>

{% endif %}

{% endblock page_subheader %}

{% block page_header %}

{% if request.session.vocab_source %}

  <div class="row justify-content-md-center">
  <div class="col-md-10">
  <div class="page-header">
  {{ vocab_source.name|capfirst }}
  </div>
  </div>
  </div>

{% endif %}

{% endblock page_header %}

{% block breadcrumbs %}

<div class="row justify-content-md-center">
<div class="col-md-10">

<div class="breadcrumbs">
{% block breadcrumb_content %}

{% include "vocab/includes/_vocab_breadcrumbs.html" %}

{% endblock breadcrumb_content %}
</div>

</div>
</div>

{% endblock breadcrumbs %}
</div>
{% endblock content_top %}

{% block sidebar_nav_classes %}

sidebar-nav {{ sidebar_expanded|yesno:"sidebar-nav-expanded," }} {{ sidebar_top_panel_expanded|yesno:"sidebar-nav-top-panel-expanded," }}

{% endblock sidebar_nav_classes %}

{% block sidebar_nav_top_panel_top %}

<a class="sidebar-nav-top-panel-toggle" @click.prevent="toggleSidebarPanel">

<span class="top-panel-toggle-text">
{% trans "label_main" %}
</span>

<span class="top-panel-toggle-icon">
<i class="fas fa-angle-double-left"></i>
</span>

</a>

{% endblock sidebar_nav_top_panel_top %}

{% block sidebar_nav_top_panel_content %}

{% if request.session.vocab_project %}

  <li class="nav-list-header">
  <span> {% trans "label_project" %} </span>
  </li>

  <li class="nav-list-header-title">
  <a 
  id="sidebar-nav-vocab-project-name"
  href="{% url 'vocab:vocab_project_dashboard' vocab_project.id vocab_project.slug %}">
  <span id="menu-vocab-project-name"> {{ vocab_project.name }} </span>
  </a>
  </li>

  <li class="nav-item">
  <a 
  id="sidebar-nav-vocab-sources"
  class="nav-link {% block vocab_sources_link_active %}{% endblock vocab_sources_link_active %}" 
  href="{% url 'vocab:vocab_project_sources' vocab_project.slug %}">
  <i class="nav-link-icon far fa-copy fa-fw"></i> {% trans "label_sources" %}
  </a>
  </li>

  <li class="nav-item">
  <a 
  id="sidebar-nav-vocab-source-create"
  class="nav-link {% block vocab_source_create_link_active %}{% endblock vocab_source_create_link_active %}" 
  href="{% url 'vocab:vocab_source_create' vocab_project.slug %}">
  <i class="nav-link-icon fas fa-plus fa-fw"></i> {% trans "label_new_source" %}
  </a>
  </li>

{% elif request.session.vocab_source %}

  <li class="nav-list-header">
  <span> {% trans "label_project" %} </span>
  </li>

  <li class="nav-list-header-title">
  <a 
  id="sidebar-nav-vocab-project-name"
  href="{% url 'vocab:vocab_project_dashboard' vocab_project.id vocab_project.slug %}">
  <span id="menu-vocab-project-name"> {{ vocab_project.name }} </span>
  </a>
  </li>

  <li class="divider"></li>

  <li class="nav-list-header">
  <span> {% trans "label_source" %} </span>
  </li>

  <li class="nav-list-header-title">
  <a 
  id="sidebar-nav-vocab-source-name"
  href="{% url 'vocab:vocab_source_dashboard' vocab_source.id vocab_source.slug %}">
  <span id="menu-vocab-source-name"> {{ vocab_source.name }} </span>
  </a>
  </li>

  <li class="nav-item">
  <a 
  id="sidebar-nav-vocab-source-entries"
  class="nav-link {% block vocab_source_entries_link_active %}{% endblock vocab_source_entries_link_active %}"
  href="{% url 'vocab:vocab_source_entries' vocab_source.id vocab_source.slug %}"
  >
  <i class="nav-link-icon fas fa-file fa-fw"></i> {% trans "label_entries" %}
  </a>
  </li>

  <li class="nav-item">
  <a 
  id="sidebar-nav-vocab-source-contexts"
  class="nav-link {% block vocab_source_contexts_link_active %}{% endblock vocab_source_contexts_link_active %}"
  href="{% url 'vocab:vocab_source_contexts' vocab_source.id vocab_source.slug %}"
  >
  <i class="nav-link-icon fas fa-file fa-fw"></i> {% trans "label_contexts" %}
  </a>
  </li>

  <li class="nav-item">
  <a 
  id="sidebar-nav-vocab-context-create" 
  class="nav-link {% block vocab_context_create_link_active %}{% endblock vocab_context_create_link_active %}" 
  href="{% url 'vocab:vocab_context_create' vocab_source.id vocab_source.slug %}"
  >
  <i class="nav-link-icon fas fa-plus fa-fw"></i> {% trans "label_new_vocab_context" %}
  </a>
  </li>

  <li class="nav-item">
  <a 
  id="sidebar-nav-vocab-source-edit"
  class="nav-link {% block vocab_source_edit_link_active %}{% endblock vocab_source_edit_link_active %}"
  href="{% url 'vocab:vocab_source_update' vocab_source.id %}"
  >
  <i class="nav-link-icon fas fa-edit fa-fw"></i> {% trans "label_vocab_source_edit" %}
  </a>
  </li>

  <li class="nav-item">
  <a 
  id="sidebar-nav-vocab-source-export" 
  class="nav-link" 
  href="{% url 'vocab:vocab_source_export_json' vocab_source.id %}"
  >
  <i class="nav-link-icon fas fa-download fa-fw"></i> {% trans "label_export_json" %}
  </a>
  </li>

  <li class="divider"></li>

{% elif request.session.vocab_entry %}

  <li class="nav-list-header">
  <span> {% trans "label_entry" %} </span>
  </li>

  <li class="nav-list-header-title">
  <a 
  id="sidebar-nav-vocab-entry-dashboard"
  href="{% url 'vocab:vocab_entry_dashboard' vocab_entry.language vocab_entry.slug %}">
  <span id="menu-vocab-entry"> {{ request.session.vocab_entry.entry|capfirst }} </span>
  </a>
  </li>

  <li class="nav-item">
  <a 
  id="sidebar-nav-vocab-entry-edit"
  class="nav-link {% block vocab_entry_edit_link_active %}{% endblock vocab_entry_edit_link_active %}"
  href="{% url 'vocab:vocab_entry_update' vocab_entry.id %}"
  >
  <i class="nav-link-icon fas fa-edit fa-fw"></i> {% trans "label_entry_edit" %}
  </a>
  </li>

  <li class="nav-item">
  <a 
  id="sidebar-nav-vocab-entry-contexts"
  class="nav-link {% block vocab_entry_contexts_link_active %}{% endblock vocab_entry_contexts_link_active %}"
  href="{% url 'vocab:vocab_entry_contexts' vocab_entry.language vocab_entry.slug %}"
  >
  <i class="nav-link-icon fas fa-file fa-fw"></i> {% trans "label_contexts" %}
  </a>
  </li>

  <li class="divider"></li>

{% endif %}

{% endblock sidebar_nav_top_panel_content %}

{% block sidebar_nav_items %}

{% block main_nav_items %}

<li class="nav-list-header">
<span> {% trans "label_main" %} </span>
</li>

<li class="nav-item">
<a
id="sidebar-nav-dashboard" 
class="nav-link {% block dashboard_link_active %}{% endblock dashboard_link_active %}" 
href="{% url 'vocab:vocab_user_dashboard' %}">
<i class="nav-link-icon fas fa-tachometer-alt fa-fw"></i>
{% trans "label_dashboard" %}
</a>
</li>

<li class="divider"></li>

{% endblock main_nav_items %}

{% block dictionary_nav_items %}

<li class="nav-list-header">
<span> {% trans "label_dictionary" %} </span>
</li>

<li class="nav-item">
<a
id="sidebar-nav-vocab-entries" 
class="nav-link {% block vocab_entries_link_active %}{% endblock vocab_entries_link_active %}" 
href="{% url 'vocab:vocab_entries' %}">
<i class="nav-link-icon fas fa-search fa-fw"></i>
{% trans "label_vocabulary" %}
</a>
</li>

{% if not form %}

  <li class="nav-item">

  <a
  id="sidebar-nav-vocab-entry-create" 
  class="nav-link {% block vocab_entry_create_link_active %}{% endblock vocab_entry_create_link_active %}" 
  href="#"
  @click.prevent="showModal('create-entry')"
  >
  <i class="nav-link-icon fas fa-plus fa-fw"></i>
  {% trans "label_new_vocab_entry" %}
  </a>

  </li>

{% endif %}

<li class="divider"></li>

{% endblock dictionary_nav_items %}

{% endblock sidebar_nav_items %}

{% block modal_content %}

{% include "vocab/includes/_vocab_entry_create_modal.html" with modal_id='create-entry' %}

{% endblock modal_content %}

{% block page_footer %}{% endblock page_footer %}

{% block python_to_javascript %}

var initSidebarSessionEnabled = true;
var sidebarExpanded = {{ sidebar_expanded|yesno:"true,false" }};
var appSessionUrl = "{% url 'app:app_session' %}";
var vocabEntryCreateUrl = "{% url 'vocab:vocab_entry_create' %}";
var vocabEntryDeleteUrl = "{% url 'vocab:vocab_entry_delete' 0 %}";
var sidebarTopPanelExpanded = {{ sidebar_top_panel_expanded|yesno:"true,false" }};

{% endblock python_to_javascript %}

