{% load i18n %}

{% with url_name=request.resolver_match.url_name %}

  {% if request.session.session_obj.vocab_entry %}

    <li>
    <a href="{% url 'vocab:vocab_entries' %}">{% trans "label_vocabulary" %}</a>
    </li>

    {% if url_name == "vocab_entry" %}

      <li class="is-active">
      <a href="#">{{ vocab_entry.entry }}</a>
      </li>

    {% else %}

      <li>
      <a href="{% url 'vocab:vocab_entry' vocab_entry.language vocab_entry.slug %}">{{ vocab_entry.entry }}</a>
      </li>

    {% endif %}

  {% elif request.session.session_obj.vocab_source %}

    <li>
    <a href="{% url 'vocab:vocab_sources' %}">{% trans "label_sources" %}</a>
    </li>

    {% if url_name == "vocab_source_dashboard" %}
   
      <li class="is-active">
      <a href="#">{{ vocab_source.name }} </a>
      </li>

    {% else %}

      <li>
      <a href="{% url 'vocab:vocab_source_dashboard' vocab_source.id vocab_source.slug %}">{{ vocab_source.name }}</a>
      </li>

      {% if vocab_entry %}

        <li>
        <a 
        href="{% url 'vocab:vocab_source_entries' vocab_source.id vocab_source.slug %}">
        {% trans "label_vocabulary" %}
        </a>
        </li>

       <li class="is-active">
        <a href="#">{{ vocab_entry }}</a>
       </li>

      {% endif %}

    {% endif %}

  {% else %}

    {% if url_name != "vocab_entries" and url_name != "vocab_sources" %}

      <li>
      <a href="{% url 'vocab:vocab_entries' %}">{% trans "label_vocabulary" %}</a>
      </li>

    {% endif %}

  {% endif %}

{% endwith %}