{% load i18n %}

{% for language, entries in vocab_entries.items|dictsort:"0.lower" %}

<div class="small-12 medium-6 columns">

<span id="language-{{ language }}">
{% get_language_info for language as lang_info %}
{{ lang_info.name_local|capfirst }} ({{ language }})
</span>

<div id="vocab-entry-tag-group-{{ language }}" class="vocab-entry-tag-group ui labels">

{% for entry in entries %}

<div id="vocab-entry-{{ entry.id }}" class="ui label vocab-tag tagblock">

<a 
class="detail"
{% if request.session.vocab_source %}
href="{% url 'vocab_admin:vocab_source_context_entries' request.session.vocab_source.id entry.slug %}">

{% else %}

href="{% url 'vocab_admin:vocab_context_entries' entry.slug %}">

{% endif %}

{{ entry.entry }}
</a>

<a 
class="vocab-entry-delete-trigger"
href="{% url 'vocab_admin:vocab_entry_delete' entry.id %}"
data-name="{{ entry.entry }}"
>
<i class="delete-icon fa fa-close"></i>
</a>

</div>

{% endfor %}

</div>

</div>

{% endfor %}