{% load core_extras %}
{% load i18n %}

{% if vocab_entry_contexts %}

<div class="vocab-context-entries">

{% for vocab_entry_context in vocab_entry_contexts %}

<div class="panel">
<div class="panel-body">

<div id="vocab-context-{{ vocab_entry_context.vocab_context.id }}" class="vocab-context">

<div class="vocab-source-title">
<a href="{% url 'vocab:vocab_source_dashboard' vocab_entry_context.vocab_context.vocab_source.id vocab_entry_context.vocab_context.vocab_source.slug %}">
{{ vocab_entry_context.vocab_context.vocab_source.name }}
</a>
</div>

<div class="vocab-context-text">
{{ vocab_entry_context.get_tagged_context|to_html|safe }}
</div>

</div>

</div>
</div>

{% endfor %}

</div>

{% endif %}
