{% extends "includes/_modal_base.html" %}
{% load i18n %}

{% block modal_header %}

<h4 class="text-center">{% trans "label_create_entry" %}</h4>

{% endblock modal_header %}

{% block modal_body %}

<div id="vocab-entry-create-modal-content">

<entry-form 
:reset="!isOpen" 
@ajax-success="close" 
@ajax-process="modalEnabled = false" 
@ajax-complete="modalEnabled = true" 
inline-template
>

<div id="entry-model-form">

<form 
id="vocab-entry-create-form" 
method="post" 
action="{% url 'vocab:vocab_entry_create' %}" 
novalidate 
@submit.prevent="onSubmit"
>

<div id="__all__-errors" class="errors">
</div>

<div class="form-group row">
<div class="col-md-4">
<label for="language">{% trans "label_language" %}</label>
<select name="language" class="form-control" v-model="formData.language" id="language">
  
<option value="en" selected="">English</option>
<option value="es">Español</option>

</select>

<div id="language-errors" class="errors">

<form-error v-if="errors.language" :errors="errors">
<li v-for="message in errors.language.message">
[[ message ]]
</li>
</form-error>

</div>
</div>

<div class="col-md-8">
<label for="entry">{% trans "label_entry" %}</label>
<input name="entry" maxlength="255" class="form-control" v-model="formData.entry" required="" id="entry" type="text">

<div id="entry-errors" class="errors">

<form-error v-if="errors.entry" :errors="errors">
<li v-for="message in errors.entry.message">
[[ message ]]
</li>
</form-error>

</div>
</div>
</div>

<div class="form-group row">
<div class="col-sm-12">
<label for="pronunciation_spelling">{% trans "label_vocab_pronunciation_spelling" %}</label>
<input name="pronunciation_spelling" maxlength="255" class="form-control" v-model="formData.pronunciation_spelling" id="pronunciation_spelling" type="text">

<div id="pronunciation_spelling-errors" class="errors">

<form-error v-if="errors.pronunciation_spelling" :errors="errors">
<li v-for="message in errors.pronunciation_spelling.message">
[[ message ]]
</li>
</form-error>

</div>
</div>
</div>

<div class="form-group row">
<div class="col-sm-12">
<label for="description">{% trans "label_description" %}</label>
<textarea name="description" cols="40" rows="3" class="form-control" v-model="formData.description" id="description"></textarea>

<div id="description-errors" class="errors">

<form-error v-if="errors.description" :errors="errors">
<li v-for="message in errors.description.message">
[[ message ]]
</li>
</form-error>

</div>
</div>
</div>

</form>

</div>

</entry-form>

</div>

{% endblock modal_body %}

{% block modal_footer %}

<a 
href="#"
id="vocab-entry-create-close-btn"
class="ui small basic button"
@click.prevent="close"
>
{% trans "label_cancel" %}
</a>

<button
id="vocab-entry-create-submit-btn" 
v-bind:class="[{ loading: !modalEnabled }, 'ui small green button']"
type="submit"
form="vocab-entry-create-form"
:disabled="!modalEnabled"
>
{% trans "label_create" %}
</button>

{% endblock modal_footer %}