{% load i18n %}

<entry-definitions
init-endpoint-url="{{ definitions_url }}"
init-msg-show-definitions="{% trans 'label_show_definitions' %}"
init-msg-hide-definitions="{% trans 'label_hide_definitions' %}"
inline-template
>

<div style="margin-top: 10px;">
  <a 
  href="#" 
  class="ui small button"
  @click.prevent="toggleDefinitionsVisible"
  >
  <span v-if="!definitionsVisible"> 
  [[ msgShowDefinitions ]]
  </span>
  <span v-else> 
  [[ msgHideDefinitions ]]
  </span>
  </a>

  <div class="vocab-definitions">

  <ul 
  id="vocab-definitions"
  v-show="definitionsVisible && definitions.length > 0"
  v-cloak
  >
    <li 
    v-for="definition in definitions"
    >
    <div class="vocab-definition-text">
    <span class="vocab-definition-type">[[ definition.definition_type_name | capitalize ]]</span>: [[ definition.definition | capitalize ]]
    </div>
    </li>
  </ul>

  <div
  v-show="definitionsVisible && definitions.length == 0 && definitionsLoaded"
  v-cloak
  >
  There are no definitions.
  </div>

  </div>

</div>

</entry-definitions>