<!DOCTYPE html>
{% load static %}
{% load core_extras %}
{% load i18n %}

<html lang="en">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
{% block title %}{% endblock title %} | {{ project_name }}
</title>

<link rel="icon" href="{% static 'favicon.ico' %}">

{% block stylesheets %}

<link rel="stylesheet" href="{% static 'css/app.css' %}" />
<link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}" />

{% endblock stylesheets %}

</head>

<body class="{% block body_classes %}theme-cloudy{% endblock body_classes %}" style="min-height: 100vh;">

<div class="columns">
<div class="column is-10 is-offset-1">

 <div style="font-size: 80px; text-align: center; margin-top: 150px;">FUCK</div>

</div>
</div>

</body>
</html>
