{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Proto{% endblock title %}

{% block container_classes %}topnav-container{% endblock container_classes %}

{% block top_navbar %}{% endblock top_navbar %}

{% block sidebar_nav %}{% endblock sidebar_nav %}

{% block content %}

<div class="row justified-content-md-center">
<div class="col-md-5">
<h1>Oxford</h1>

<oxford-api
init-endpoint-url="{% url 'api:oxford_api' %}"
inline-template
>

<div>

<input 
name="entry_search" 
maxlength="255" 
id="entry_search" 
class="form-control" 
type="text"
v-model="entry"
>

<a 
href="#" 
class="ui small basic button"
@click.prevent="searchApi"
>
Search word
</a>

</div>

</oxford-api>
</div>

<div class="col-md-5">

<h1>Miriam-Webster</h1>

<oxford-api
init-endpoint-url="{% url 'api:oxford_api' %}"
inline-template
>

<div>

<input 
name="entry_search" 
maxlength="255" 
id="entry_search" 
class="form-control" 
type="text"
v-model="entry"
>

<a 
href="#" 
class="ui small basic button"
@click.prevent="searchApi"
>
Search word
</a>

</div>

</oxford-api>

</div>

</div>

{% endblock content %}

{% block page_footer %}{% endblock page_footer %}

{% block scripts_bottom %}

<script src="{% url 'core:js_settings' %}"></script>

{% endblock scripts_bottom %}

{% block scripts_vue %}

<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
<script src="{% static 'js/vue/proto/components.js' %}"></script>
<script src="{% static 'js/vue/proto/app.js' %}"></script>

{% endblock scripts_vue %}