{% load i18n %}

<vocab-entry-contexts
:init-is-admin="{{ user.is_admin|yesno:'true,false' }}"
vocab-contexts-url="{{ vocab_contexts_url }}"
inline-template
>

<div 
class="vocab-contexts"
v-cloak
>

<div v-if="vocabContexts && vocabContexts.length == 0">
{% trans "msg_no_contexts" %}
</div>

<div v-else class="page-subheader" style="font-size: 24px; margin-bottom: 20px;">
{% trans "label_contexts" %}
</div>

<vocab-entry-context
v-for="(vocabEntryContext, index) in vocabContexts"
:key="vocabEntryContext.vocab_context_id"
:init-is-admin="isAdmin"
:init-vocab-entry-context=vocabEntryContext
:context-element="'#context-' + vocabEntryContext.id"
init-delete-url="{{ vocab_context_delete_url }}"
init-vocab-source-url="{{ vocab_source_url }}"
@delete-vocab-context="onDeleteVocabContext(index)"
inline-template
>

<transition name="fade-transition" v-on:after-enter="isVisible = true" v-on:after-leave="isVisible = false">

<div class="box vocab-context-box" v-show="isVisible">

<div class="box-controls">

<ajax-delete
v-if="isAdmin"
delete-confirm-id="delete-context"
:delete-url="deleteUrl"
@ajax-success="remove"
inline-template
>

<span class="control">
<a
@click.prevent="confirmDelete"
>
<i class="fas fa-times fas"></i>
</a>
</ajax-delete>
</span>

</div>

<a
href="#"
@click.prevent="selectVocabSource"
>
[[ vocabEntryContext.vocab_source ]]
</a>

<div :id="[[ vocabEntryContext.id ]]" class="vocab-context">

<div 
:id="'context-' + vocabEntryContext.id"
class="vocab-context-text"
v-html="markdownToHtml(vocabEntryContext.vocab_context)"
>
</div>

</div>

</div>

</transition>

</vocab-entry-context>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
@click.prevent="getVocabContexts(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li
v-for="page in pageCount"
:class="[ (pageNum != page) ? 'page-num' : 'current-page' ]"
>

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else 
@click.prevent="getVocabContexts(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
@click.prevent="getVocabContexts(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-entry-contexts>