{% load i18n %}

<vocab-entry-contexts
:init-is-admin="{{ user.is_admin|yesno:'true,false' }}"
vocab-contexts-url="{{ vocab_contexts_url }}"
inline-template
>

<div 
class="vocab-contexts"
v-cloak
>

<div v-if="vocabContexts && vocabContexts.length == 0">
{% trans "msg_no_contexts" %}
</div>

<div v-else class="page-header">
{% trans "label_contexts" %}
</div>

<vocab-entry-context
v-for="(vocabEntryContext, index) in vocabContexts"
:key="vocabEntryContext.vocab_context_id"
:id="('context-' + vocabEntryContext.vocab_context_id)"
:init-is-admin="isAdmin"
:init-vocab-entry-context=vocabEntryContext
:context-element="('#context-' + vocabEntryContext.vocab_context_id + '-text')"
init-edit-url="{{ vocab_context_edit_url }}"
init-delete-url="{{ vocab_context_delete_url }}"
init-vocab-source-url="{{ vocab_source_url }}"
@delete-vocab-context="deleteVocabContext(index)"
inline-template
>

<transition name="fade-transition">

<div 
:id="id"
class="box vocab-context-box" 
>

<div class="box-controls">

<span 
class="control"
v-if="isAdmin"
>
<a
class="edit-btn"
@click.prevent="edit"
>
<i class="fas fa-edit fas"></i>
</a>
</span>

<ajax-delete
v-if="isAdmin"
delete-confirm-id="delete-vocab-context"
:delete-url="deleteUrl"
@ajax-success="remove"
inline-template
>

<span class="control">
<a
class="delete-btn"
@click.prevent="confirmDelete"
>
<i class="fas fa-times fas"></i>
</a>
</span>

</ajax-delete>

</div><!-- box-controls -->

<div class="box-top">

<div class="box-top-left">
<span class="vocab-source-name" style="font-size: 18px;">
<a
href="#"
@click.prevent="selectVocabSource"
>
[[ vocabEntryContext.vocab_source ]]
</a>
</span>
</div>

<div class="box-top-right">
</div><!-- box-top-right -->

</div><!-- box-top -->

<div :id="[[ vocabEntryContext.id ]]" class="vocab-context">

<div 
:id="('context-' + vocabEntryContext.vocab_context_id + '-text')"
class="vocab-context-text"
v-html="markdownToHtml(vocabEntryContext.vocab_context)"
>
</div>

</div>

</div>

</transition>

</vocab-entry-context>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
@click.prevent="getVocabContexts(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li
v-for="page in pageCount"
:class="[ (pageNum != page) ? 'page-num' : 'current-page' ]"
>

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else 
@click.prevent="getVocabContexts(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
@click.prevent="getVocabContexts(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-entry-contexts>