{% load i18n %}
{% load core_extras %}

{% if not edit_entries %}{% alias False as edit_entries %}{% endif %}

<vocab-entries
:init-is-admin="{{ edit_entries|yesno:'true,false' }}"
init-vocab-entries-url="{{ vocab_entries_url }}"
inline-template
>

<div>

<div class="panel" style="min-height: 300px;">
<div class="panel-body">

<dropdown 
id="vocabulary-language-menu"
trigger-classes="ui mini icon twitter button"  
>

  <template slot="trigger-content">
  
    [[ language ]] &nbsp; <i class="fas fa-angle-down"></i>

  </template>

  <template slot="dropdown-content">

    <ul>

    {% get_language_info_list for LANGUAGES as languages %}

    {% for language in languages %}

      <li>
      <a 
      id="vocabulary-{{ language.code }}"
      @click.prevent="setLanguage('{{ language.code }}')"
      >
      {{ language.name_translated }}
      </a>
      </li>

    {% endfor %}

    </ul>

  </template>

</dropdown>

<div v-show="processing"><i class="fas fa-spin fa-spinner"></i></div>

<div 
id="vocab-entry-tag-group" 
class="vocab-entry-tag-group ui labels"
v-show="!processing"
v-cloak
>

<div 
v-if="vocabEntries.length == 0"
>
{% trans 'no_entries_in_selected_language' %}
</div>

<vocab-entry
v-for="(vocabEntry, index) in vocabEntries"
:key="vocabEntry.id"
:init-is-admin="isAdmin"
:init-entry="vocabEntry"
init-view-url="{{ vocab_entry_url }}"
init-delete-url="{{ vocab_entry_delete_url }}"
inline-template
>

<ajax-tag
  :key="entry.id"
  :init-id="entry.id"
  :init-value="entry.entry"
  :init-delete-url="deleteUrl"
  :init-can-remove="isAdmin"
  init-confirm-id="delete-entry"
  @tag-select="view"
  @tag-remove="remove"
>
</ajax-tag>

</vocab-entry>

</div>

</div>
</div>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
@click.prevent="getVocabEntries(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li 
v-for="page in pageCount"
:class="[ (pageNum != page) ? 'page-num' : 'current-page' ]"
>

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else
@click.prevent="getVocabEntries(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
@click.prevent="getVocabEntries(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-entries>