{% load i18n %}

<entry-info 
init-endpoint-url="{{ vocab_entry_info_url }}"
init-msg-show-entry-info="{% trans 'label_show_entry_info' %}"
init-msg-hide-entry-info="{% trans 'label_hide_entry_info' %}"
inline-template
>

<div style="margin-top: 10px;">
  <a 
  href="#" 
  class="ui small button"
  @click.prevent="toggleEntryInfoVisible"
  >
  <span v-if="!entryInfoVisible"> 
  [[ msgShowEntryInfo ]]
  </span>
  <span v-else> 
  [[ msgHideEntryInfo ]]
  </span>
  </a>

  <div class="vocab-entry-info">

  <span v-show="processing"><i class="fas fa-spin fa-spinner"></i></span>

  <ul 
  id="vocab-entry-info"
  v-show="entryInfoVisible"
  v-cloak
  >
    <li 
      v-for="(value, key) in entryInfo"
    >
      <span class="vocab-lexical-category"> [[ key ]] </span>
      &nbsp;
      <span 
        class="vocab-entry-pronunciation"
        v-for="ipaPronunciation in value.pronunciations.ipa"
      >
      [ [[ ipaPronunciation ]] ]
      </span>

      <div class="vocab-definitions">
      <ul>
        <li v-for="def in value.definitions">
          <p class="vocab-definition-text">
           &#8226; [[ def ]]
          </p>
        </li>
      </ul>
      </div>

    </li>

  </ul>

  </div>

</div>

</entry-info>