{% load i18n %}

<vocab-contexts
init-vocab-contexts-url="{{ vocab_contexts_url }}"
inline-template
>

<div 
class="vocab-context-entries"
>

<div
v-for="(entryContext, index) in vocabContexts"
:key="entryContext.vocab_context_id"
>

<vocab-entry-context
:init-entry-context=entryContext
:context-element="'#context-' + entryContext.id"
inline-template
>

<div class="panel">
<div class="panel-body">

<div :id="[[ entryContext.id ]]" class="vocab-context">

<div class="vocab-source-title">
<a href="#">
[[ entryContext.vocab_source ]]
</a>
</div>

<div 
:id="'context-' + entryContext.id"
class="vocab-context-text"
v-html="markdownToHtml(entryContext.vocab_context)"
>
</div>

</div>

</div>
</div>

</vocab-entry-context>

</div>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
v-scroll-to="{
  el: '#contexts-scroll-top',
  onDone: getVocabContexts.bind(this, pageNum - 1)
 }"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li v-for="page in pageCount">

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else 
v-scroll-to="{
  el: '#contexts-scroll-top',
  onDone: getVocabContexts.bind(this, page)
 }"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
v-scroll-to="{
  el: '#contexts-scroll-top',
  onDone: getVocabContexts.bind(this, pageNum + 1)
 }"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-contexts>