{% load core_extras %}
{% load i18n %}

{% if not source_admin %}{% alias False as source_admin %}{% endif %}

<vocab-sources
:init-is-admin="{{ source_admin|yesno:'true,false' }}"
vocab-sources-url="{{ vocab_sources_url }}"
inline-template
>

<div 
class="vocab-sources"
v-cloak
>

<div v-if="vocabSources && vocabSources.length == 0">
<div>
{% trans "msg_no_sources" %}
</div>
<div>
<a 
href="{% url 'vocab:vocab_source_create' %}" 
class="button is-info" 
style="margin-top: 20px;"
>
{% trans "label_create_source" %}
</a>
</div>
</div>

<div 
v-if="processing"
class="vocab-processing-icon"
>
<i class="fas fa-cog fa-spin"></i>
</div>

<div v-else>

<vocab-source
v-for="(vocabSource, index) in vocabSources"
:key="vocabSource.id"
:id="('source-' + vocabSource.id)"
:init-is-admin="isAdmin"
:init-source="vocabSource"
init-view-url="{{ vocab_source_view_url }}"
init-edit-url="{{ vocab_source_edit_url }}"
init-delete-url="{{ vocab_source_delete_url }}"
@delete-vocab-source="deleteVocabSource(index)"
inline-template
>

<transition name="fade-transition">

<div
:id="id"
class="box vocab-source-box" 
v-cloak
>

<div class="box-top">

<div class="box-top-left"></div>

<div class="box-top-right">

<div class="box-controls">

<span 
class="control"
v-if="isAdmin"
>
<a
@click.prevent="edit"
>
<i class="fas fa-edit fas"></i>
</a>
</span>

<ajax-delete
v-if="isAdmin"
delete-confirm-id="delete-vocab-source"
:delete-url="deleteUrl"
@ajax-success="remove"
inline-template
>

<span class="control">
<a
class="delete-btn"
@click.prevent="confirmDelete"
>
<i class="fas fa-times fas"></i>
</a>
</span>

</ajax-delete>

</div>

</div><!-- box-top-right -->

</div><!-- box-top -->

<div class="box-content">

<div class="name">
<a
href="#"
@click.prevent="view"
>
<span
v-html="markdownToHtml(source.name)"
>
</span>
</a>
</div>

<div class="description">
<span
v-html="markdownToHtml(source.description)"
>
</span>
</div>

</div>
</div>

</transition>

</vocab-source>

{% include "vocab/includes/vue/_pagination.html" with select_action="getVocabSources(page)" prev_action="getVocabSources(pageNum - 1)" next_action="getVocabSources(pageNum + 1)" %}

</div><!-- processing -->

</div>

</vocab-sources>