{% load i18n %}

<vocab-entries
init-vocab-entries-url="{{ vocab_entries_url }}"
inline-template
>

<div>

<div class="panel" style="min-height: 300px;">
<div class="panel-body">

<dropdown 
id="vocabulary-language-menu"
trigger-classes="ui mini icon button"  
>

  <template slot="trigger-content">
  
    [[ language ]] &nbsp; <i class="fas fa-angle-down"></i>

  </template>

  <template slot="dropdown-content">

    <ul>

    {% get_language_info_list for LANGUAGES as languages %}

    {% for language in languages %}

      <li>
      <a 
      id="vocabulary-{{ language.code }}"
      @click.prevent="setLanguage('{{ language.code }}')"
      >
      {{ language.name_translated }}
      </a>
      </li>

    {% endfor %}

    </ul>

  </template>

</dropdown>

<div id="vocab-entry-tag-group" class="vocab-entry-tag-group ui labels">
<tag
  v-for="(tag, index) in vocabEntries"
  :key="tag.id"
  :init-id="index"
  :init-value="tag.entry"
  @tag-select=""
>
</tag>

</div>
</div>
</div>

<section>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
@click.prevent="getVocabEntries(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li v-for="page in pageCount">

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else 
@click.prevent="getVocabEntries(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
@click.prevent="getVocabEntries(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-entries>