{% load i18n %}

<vocab-sources
:init-is-admin="{{ user.is_admin|yesno:'true,false' }}"
init-vocab-sources-url="{{ vocab_sources_url }}"
inline-template
>

<div 
class="vocab-sources"
v-cloak
>

<div
v-for="(vocabSource, index) in vocabSources"
:key="vocabSource.id"
>

<vocab-source
:init-is-admin="isAdmin"
:init-source="vocabSource"
init-view-url="{{ vocab_source_url }}"
init-delete-url="{{ vocab_source_delete_url }}"
inline-template
>

<transition name="fade-transition" v-on:after-enter="isVisible = true" v-on:after-leave="isVisible = false">

<div 
class="panel vocab-source-panel"
v-show="isVisible"
>
<div class="panel-body">

<ajax-delete
v-if="isAdmin"
delete-confirm-id="delete-source"
:delete-url="deleteUrl"
@ajax-success="remove"
inline-template
>

<a
@click.prevent="confirmDelete"
>
  <i class="panel-close-icon fas fa-times fas"></i>
</a>

</ajax-delete>

<div>
<a href="#">[[ source.project ]]</a>
</div>

<div>
<a
class="vocab-source-name"
href="#"
@click.prevent="view"
>
[[ source.name ]]
</a>
</div>

<div class="vocab-source-desc">
[[ source.description ]]
</div>

</div>
</div>

</transition>

</vocab-source>

</div>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
@click.prevent="getVocabSources(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li 
v-for="page in pageCount"
:class="[ (pageNum != page) ? 'page-num' : 'current-page' ]"
>

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else
@click.prevent="getVocabSources(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
@click.prevent="getVocabSources(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-sources>