{% load i18n %}

<vocab-contexts
init-vocab-contexts-url="{{ vocab_contexts_url }}"
inline-template
>

<div 
class="vocab-context-entries"
>

<div
class="panel"
v-for="(contextEntry, index) in vocabContexts"
:key="contextEntry.vocab_context_id"
>
<div class="panel-body">

<div :id="[[ contextEntry.id ]]" class="vocab-context">

<div class="vocab-source-title">
<a href="#">
[[ contextEntry.vocab_source ]]
</a>
</div>

<div class="vocab-context-text">
[[ contextEntry.vocab_context ]]
</div>

</div>

</div>
</div>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
v-scroll-to="'#contexts-scroll-top'"
@click.prevent="getVocabContexts(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li v-for="page in pageCount">

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else 
v-scroll-to="'#contexts-scroll-top'"
@click.prevent="getVocabContexts(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
v-scroll-to="'#contexts-scroll-top'"
@click.prevent="getVocabContexts(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-contexts>