{% load i18n %}

<vocab-entry-info 
endpoint-url="{{ vocab_entry_info_url }}"
inline-template
>

<div style="margin-top: 10px; margin-bottom: 20px;" v-cloak>
  <a 
  href="#" 
  class="button"
  @click.prevent="toggleVocabEntryInfoVisible"
  >

  <span v-if="!vocabEntryInfoVisible"> 
  {% trans "label_show_details" %}
  </span>

  <span v-else> 
  {% trans "label_hide_details" %}
  </span>

  </a>

  <div 
  class="vocab-entry-info"
  v-show="vocabEntryInfoVisible"
  >

  <span v-show="processing"><i class="fas fa-spin fa-spinner"></i></span>

  <div 
  class="box"
  v-show="vocabEntryInfoLoaded && vocabEntryInfo.lexicalEntries.length > 0"
  v-cloak
  >

  <ul 
  id="vocab-entry-info"
  >
    <li 
      v-for="lexicalEntry in vocabEntryInfo.lexicalEntries"
    >
      <span class="vocab-lexical-category"> [[ lexicalEntry.lexicalCategory ]] </span>
      &nbsp;

      <span
        v-for="(ipaPronunciation, index) in lexicalEntry.pronunciations.ipa"
      >
      <span 
      v-if="ipaPronunciation.phoneticSpelling"
      class="vocab-pronunciation"
      >
      [ [[ ipaPronunciation.phoneticSpelling ]] ]
      </span>
      <audio-player 
      v-if="ipaPronunciation.audioFile"
      :init-audio-id="'marginSizes' + index"
      :init-sound-file="ipaPronunciation.audioFile"
      >
      </audio-player>
      &nbsp;
      </span>

      <div class="vocab-definitions">
      <ul>
        <li v-for="def in lexicalEntry.definitions">
          <p class="vocab-definition-text">
           &#8226; [[ def ]]
          </p>
        </li>
      </ul>
      </div>

    </li>

  </ul>

  </div>

  </div>

</div>

</vocab-entry-info>