{% load i18n %}

<vocab-projects
:init-is-admin="{{ user.is_admin|yesno:'true,false' }}"
init-vocab-projects-url="{{ vocab_projects_url }}"
inline-template
>

<div 
class="vocab-projects"
v-cloak
>

<div v-if="vocabProjects.length == 0">
{% trans 'msg_no_projects' %}
</div>

<vocab-project
v-for="(vocabProject, index) in vocabProjects"
:key="vocabProject.id"
:init-is-admin="isAdmin"
:init-project="vocabProject"
init-view-url="{{ vocab_project_url }}"
init-delete-url="{{ vocab_project_delete_url }}"
inline-template
>

<transition name="fade-transition" v-on:after-enter="isVisible = true" v-on:after-leave="isVisible = false">

<div 
class="panel"
v-show="isVisible"
>

<div class="panel-top">

<div class="panel-buttons">

<ajax-delete
v-if="isAdmin"
delete-confirm-id="delete-project"
:delete-url="deleteUrl"
@ajax-success="remove"
inline-template
>

<a
class="panel-button"
@click.prevent="confirmDelete"
>
  <i class="fas fa-times fas"></i>

</a>
</ajax-delete>

</div>

</div>

<div class="panel-body">

<div>
<a
href="#"
@click.prevent="view"
>
[[ project.name ]]
</a>
</div>

<div>
[[ project.description ]]
</div>

</div>

</div>

</transition>

</vocab-project>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
@click.prevent="getVocabProjects(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li 
v-for="page in pageCount"
:class="[ (pageNum != page) ? 'page-num' : 'current-page' ]"
>

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else
@click.prevent="getVocabProjects(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
@click.prevent="getVocabProjects(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-projects>