{% load i18n %}

<vocab-entry-contexts
:init-is-admin="{{ user.is_admin|yesno:'true,false' }}"
init-vocab-contexts-url="{{ vocab_contexts_url }}"
inline-template
>

<div 
class="vocab-contexts"
v-cloak
>

<div v-if="vocabContexts.length == 0">
{% trans 'msg_no_contexts' %}
</div>

<div v-else class="page-subheader">{% trans 'header_contexts' %}</div>

<vocab-entry-context
v-for="(entryContext, index) in vocabContexts"
:key="entryContext.vocab_context_id"
:init-is-admin="isAdmin"
:init-entry-context=entryContext
:context-element="'#context-' + entryContext.id"
init-delete-url="{{ vocab_context_delete_url }}"
init-source-url="{{ vocab_source_url }}"
inline-template
>

<transition name="fade-transition" v-on:after-enter="isVisible = true" v-on:after-leave="isVisible = false">

<div class="panel" v-show="isVisible">

<div class="panel-top">
<div class="panel-buttons">

<ajax-delete
v-if="isAdmin"
delete-confirm-id="delete-context"
:delete-url="deleteUrl"
@ajax-success="remove"
inline-template
>

<a
class="panel-button"
@click.prevent="confirmDelete"
>
<i class="fas fa-times fas"></i>
</a>
</ajax-delete>

</div>
</div>

<div class="panel-body">

<div class="panel-header">
<a
href="#"
@click.prevent="selectSource"
>
[[ entryContext.vocab_source ]]
</a>
</div>

<div :id="[[ entryContext.id ]]" class="vocab-context">

<div 
:id="'context-' + entryContext.id"
class="vocab-context-text"
v-html="markdownToHtml(entryContext.vocab_context)"
>
</div>

</div>

</div>
</div>

</transition>

</vocab-entry-context>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
@click.prevent="getVocabContexts(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li
v-for="page in pageCount"
:class="[ (pageNum != page) ? 'page-num' : 'current-page' ]"
>

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else 
@click.prevent="getVocabContexts(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
@click.prevent="getVocabContexts(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-entry-contexts>