{% load i18n %}

<vocab-entry-info 
endpoint-url="{{ vocab_entry_info_url }}"
inline-template
>

<div style="margin-top: 10px; margin-bottom: 20px;" v-cloak>
  <a 
  href="#" 
  class="button"
  @click.prevent="toggleVisible"
  >

  <span v-if="!vocabEntryInfoVisible"> 
  {% trans "label_show_details" %}
  </span>

  <span v-else> 
  {% trans "label_hide_details" %}
  </span>

  </a>

  <div 
  class="vocab-entry-info"
  v-show="vocabEntryInfoVisible"
  >

  <div v-show="processing" class="vocab-processing-icon">
  <i class="fas fa-cog fa-spin"></i>
  </div>

  <div 
  class="box"
  v-if="vocabEntryInfoLoaded && vocabEntryInfo.lexicalEntries.length > 0"
  v-cloak
  >

  <ul 
  id="vocab-entry-info"
  >
    <li 
      v-for="lexicalEntry in vocabEntryInfo.lexicalEntries"
    >
      <div class="vocab-lexical-category">
      [[ lexicalEntry.lexicalCategory ]]
      </div>
    
      <div v-for="entry in lexicalEntry.entries">

        <span
          v-for="(pronunciation, index) in entry.pronunciations"
        >

        <span 
        v-if="pronunciation.phoneticSpelling"
        class="vocab-pronunciation"
        >
        [ [[ pronunciation.phoneticSpelling ]] ]
        </span>

        <vocab-pronunciation-audio 
        v-if="pronunciation.audioFile"
        :init-audio-id="'marginSizes' + index"
        :init-sound-file="pronunciation.audioFile"
        >
        </vocab-pronunciation-audio>
    
        </span><!-- pronunciations -->

        <div v-for="sense in entry.senses">

          <div class="vocab-definitions">
          <ul>
            <li v-for="def in sense.definitions">
              <p class="vocab-definition-text">
               &#8226; [[ def ]]
              </p>
            </li>

            <li v-for="example in sense.examples">
              <p class="vocab-example-text">
              <i>"[[ example ]]"</i>
              </p>
            </li>

          </ul>
          </div>

        </div><!-- senses -->

      </div><!-- entries -->

    </li>

  </ul>

  </div>

  <div v-if="!processing && hasError">
  {% trans "msg_no_vocab_info" %}
  </div>

  </div>

</div>

</vocab-entry-info>