{% load i18n %}

<vocab-contexts
:init-is-admin="{{ user.is_admin|yesno:'true,false' }}"
init-vocab-contexts-url="{{ vocab_contexts_url }}"
inline-template
>

<div 
class="vocab-contexts"
v-cloak
>

<div v-if="vocabContexts.length == 0">
{% trans 'msg_no_contexts' %}
</div>

<div v-else class="page-subheader">{% trans 'header_contexts' %}</div>

<vocab-context-tags
v-for="(context, index) in vocabContexts"
:key="context.id"
:init-is-admin="isAdmin"
:init-context="context"
:init-entries="context.vocab_entry_tags"
:context-element="'#context-' + context.id"
init-delete-url="{{ vocab_context_delete_url }}"
init-source-url="{{ vocab_source_url }}"
init-tag-select-url="{{ tag_select_url }}"
inline-template
>

<transition name="fade-transition" v-on:after-enter="isVisible = true" v-on:after-leave="isVisible = false">

<div class="panel" v-show="isVisible">

<div class="panel-top">
<div class="panel-buttons">

<ajax-delete
v-if="isAdmin"
delete-confirm-id="delete-context"
:delete-url="deleteUrl"
@ajax-success="remove"
inline-template
>

<a
class="panel-button"
@click.prevent="confirmDelete"
>
<i class="fas fa-times fas"></i>
</a>
</ajax-delete>

</div>
</div>

<div class="panel-body">

<div class="panel-header">
<a
href="#"
@click.prevent="selectSource"
>
[[ context.vocab_source ]]
</a>
</div>

<div :id="[[ context.id ]]" class="vocab-context">

<div 
:id="'context-' + context.id"
class="vocab-context-text"
v-html="markdownToHtml(context.content)"
>
</div>

</div>

</div><!-- panel-body -->

<div class="panel-bottom">

<div class="vocab-entries ui labels">

<toggle-tag
  v-for="(tag, index) in entries"
  :key="index"
  :init-id="index"
  :init-value="tag.value"
  :toggle-select="tag.selected"
  @tag-select="selectTag"
  @tag-toggle="toggleTag"
>
</toggle-tag>

</div>

</div>

</div><!-- panel -->

</transition>

</vocab-context-tags>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
@click.prevent="getVocabContexts(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li
v-for="page in pageCount"
:class="[ (pageNum != page) ? 'page-num' : 'current-page' ]"
>

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else 
@click.prevent="getVocabContexts(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
@click.prevent="getVocabContexts(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-contexts>