{% load i18n %}

<vocab-contexts
:init-is-admin="{{ source_admin|yesno:'true,false' }}"
vocab-contexts-url="{{ vocab_contexts_url }}"
inline-template
>

<div 
class="vocab-contexts"
v-cloak
>

<div v-if="vocabContexts && vocabContexts.length == 0">
{% trans "msg_no_contexts" %}
</div>

<div v-else class="page-header">
{% trans "label_contexts" %}
</div>

<vocab-context-tags
v-for="(vocabContext, index) in vocabContexts"
:key="vocabContext.order"
:id="('context-' + vocabContext.id)"
:init-is-admin="isAdmin"
:init-vocab-context="vocabContext"
:init-vocab-entries="vocabContext.vocab_entry_tags"
:context-element="('#context-' + vocabContext.id + '-text')"
init-edit-url="{{ vocab_context_edit_url }}"
init-delete-url="{{ vocab_context_delete_url }}"
init-vocab-source-url="{{ vocab_source_url }}"
init-tag-select-url="{{ tag_select_url }}"
@delete-vocab-context="deleteVocabContext(index)"
inline-template
>

<transition name="fade-transition">

<div 
:id="id"
class="box vocab-context-box" 
>

<div class="box-top">

<div class="box-top-left">
</div>

<div class="box-top-right">
<div class="box-controls">

<span 
class="control"
v-if="isAdmin"
>
<a
class="edit-btn"
@click.prevent="edit"
>
<i class="fas fa-edit fas"></i>
</a>
</span>

<ajax-delete
v-if="isAdmin"
delete-confirm-id="delete-vocab-context"
:delete-url="deleteUrl"
@ajax-success="remove"
inline-template
>

<span class="control">
<a
class="delete-btn"
@click.prevent="confirmDelete"
>
<i class="fas fa-times fas"></i>
</a>
</span>

</ajax-delete>

</div><!-- box-controls -->

</div><!-- box-top-right -->

</div><!-- box-top -->

<div :id="[[ vocabContext.id ]]" class="vocab-context">

<div class="vocab-context-details">
<span class="order-num">[[ vocabContext.order ]]</span>
<span class="vocab-source-name">
<a
href="#"
@click.prevent="selectVocabSource"
>
[[ vocabContext.vocab_source_name ]]
</a>
</span>
</div>

<div 
:id="('context-' + vocabContext.id + '-text')"
class="vocab-context-text"
v-html="markdownToHtml(vocabContext.content)"
>
</div>

</div>

<div 
id="vocab-entry-tag-group" 
class="tags are-medium"
style="margin-top: 20px;"
>

<toggle-tag
  v-for="(tag, index) in vocabEntries"
  :key="index"
  :id="index.toString()"
  :value="tag.value"
  :toggle-select="tag.selected"
  @select-tag="selectTag"
  @toggle-tag="toggleTag"
>
</toggle-tag>

</div>

</div>

</transition>

</vocab-context-tags>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
@click.prevent="getVocabContexts(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li
v-for="page in pageCount"
:class="[ (pageNum != page) ? 'page-num' : 'current-page' ]"
>

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else 
@click.prevent="getVocabContexts(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
@click.prevent="getVocabContexts(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-contexts>