{% load i18n %}

<vocab-sources
init-vocab-sources-url="{{ vocab_sources_url }}"
inline-template
>

<div 
class="vocab-sources"
v-cloak
>

<div
v-for="(vocabSource, index) in vocabSources"
:key="vocabSource.id"
>

<vocab-source
:init-source=vocabSource
init-source-url="{{ vocab_source_url }}"
inline-template
>

<div class="panel vocab-source-panel">
<div class="panel-body">

<div>
<a href="#">[[ source.project ]]</a>
</div>

<div>
<a
class="vocab-source-name"
href="#"
@click.prevent="selectSource"
>
[[ source.name ]]
</a>
</div>

</div>
</div>

</vocab-source>

</div>

<section
v-if="pageCount > 1"
>
<nav role="pagination">

<ul class="cd-pagination">

<li v-if="previousUrl">
<a
@click.prevent="getVocabSources(pageNum - 1)"
>
{% trans 'label_previous' %}
</a>
</li>

<li v-else>
<a class="disabled" href="#">{% trans 'label_previous' %}</a>
</li>

<li 
v-for="page in pageCount"
:class="[ (pageNum != page) ? 'page-num' : 'current-page' ]"
>

<a 
v-if="pageNum == page" 
class="current" 
href="#"
>
[[ page ]]
</a>
<a 
v-else
@click.prevent="getVocabSources(page)"
>
[[ page ]]
</a>

</li>

<li v-if="nextUrl">
<a
@click.prevent="getVocabSources(pageNum + 1)"
>
{% trans 'label_next' %}
</a>
</li>

<li v-else>
<a 
class="disabled" 
href="#"
>
{% trans 'label_next' %}
</a>
</li>

</ul>
</nav>

</section>

</div>

</vocab-sources>